body{
    margin-left: 20px;
}


.chatBox{
    background-color: aliceblue;
    padding: 22px;
    border-radius: 16px;
    display: inline-block;
}

.msgBox{
    background-color: rgb(93, 93, 242);
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
}